body.svelte-1rkayzm{
  margin:0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0
}

.controls.svelte-1rkayzm{
  display:flex;
  flex-flow:row;
  justify-content:space-around;
  color:var(--color);
  background-color:var(--background-color);
  padding-left:10px;
  padding-right:10px;
  -webkit-user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;
  user-select:none;
  padding-top:5px;
  padding-bottom:5px
}

.control-times.svelte-1rkayzm{
  margin:auto;
  margin-right:5px
}

.material-icons.svelte-1rkayzm{
  font-size:16px;
  margin-bottom:0px;
  color:var(--icon-color);
  background-color:rgba(0,0,0,0);
  cursor:pointer;
  transition:0.3s;
  border:none;
  border-radius:25px
}

.material-icons.svelte-1rkayzm:hover{
  box-shadow:0px 6px  rgba(0,0,0,0.6)
}

.material-icons.svelte-1rkayzm::-moz-focus-inner{
  border:0
}

progress.svelte-1rkayzm{
  display:block;
  color:var(--primary-color);
  background:var(--secondary-color);
  border:none;
  height:15px;
  margin:auto;
  margin-left:5px;
  margin-right:5px
}

progress.svelte-1rkayzm::-webkit-progress-bar{
  background-color:var(--secondary-color);
  width:100%
}

progress.svelte-1rkayzm::-moz-progress-bar{
  background:var(--primary-color)
}

progress.svelte-1rkayzm::-webkit-progress-value{
  background:var(--primary-color)
}

.song-progress.svelte-1rkayzm{
  width:100%
}

.volume-progress.svelte-1rkayzm{
  width:10%;
  max-width:100px;
  min-width:50px
}
p.svelte-1uux8rr{
  padding:10px;
  border-radius:5px
}

[tabindex='0'].svelte-1uux8rr{
  cursor:pointer
}

.hide-file-ui.svelte-1uux8rr input[type='file']::file-selector-button{
  display:none
}

.hide-file-ui.svelte-1uux8rr :not(.mdc-text-field--label-floating) input[type='file']{
  color:transparent
}
.drawer-container.svelte-596l6d{
  position:relative;
  display:flex;
  height:350px;
  max-width:600px;
  border:1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.1));
  overflow:hidden;
  z-index:0
}

.svelte-596l6d .app-content{
  flex:auto;
  overflow:auto;
  position:relative;
  flex-grow:1
}

.main-content.svelte-596l6d{
  overflow:auto;
  padding:16px;
  height:100%;
  box-sizing:border-box
}
.hide-file-ui.svelte-164yf9c input[type="file"]::file-selector-button{
  display:none
}

.hide-file-ui.svelte-164yf9c :not(.mdc-text-field--label-floating) input[type="file"]{
  color:transparent
}

.demo-cell.svelte-164yf9c{
  height:200px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:var(--mdc-theme-secondary, #333);
  color:var(--mdc-theme-on-secondary, rgb(245, 241, 241))
}

.svelte-164yf9c .demo-list{
  max-width:300px
}
.paper-container.svelte-h1mzp2{
  width:60%
}
main.svelte-ham7r5{
  text-align:center;
  padding:1em;
  max-width:240px;
  margin:0 auto
}

@media(min-width: 640px){
  main.svelte-ham7r5{
    max-width:none
  }
}